<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
  </head>
  <body>
    <!-- <div class="container">
      <div class="jumbotron">
    <h1 class="display-4">Jobs available in different city</h1>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/jobs/hydjobs" role="button">HYD Jobs</a>
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/jobs/blorejobs/" role="button">Banglore Jobs</a>
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/jobs/chennaijobs" role="button">Chennai Jobs</a>
      <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/jobs/punejobs" role="button">Pune Jobs</a>
    </p>
  </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:8000">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/jobs/hydjobs">HYD JObs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/jobs/blorejobs/">Banglore jobs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/jobs/chennaijobs">Chennai Jobs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/jobs/punejobs">Pune Jobs</a>
      </li>
    </ul>
  </div>
</nav>
    {% block content%}

    {% endblock  %}
  </body>
</html>
